* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
@font-face {
    font-family: Neue-Machina-reg;
    src: url(font/NeueMachina-Regular.ttf);
}
@font-face {
    font-family: Neue-Machina-bold;
    src: url(font/NeueMachina-Bold.ttf);
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Neue-Machina-reg;
    background: black;
    /* color: white; */
}
a {
    text-decoration: none;
    color: white;
}

/* -------------------------------------header-------------------------------------------- */
.header {
    position: relative;
}
.header__bg {
    position: absolute;
    top: 0;
    z-index: -1;
}
.header__bg-lins1 {
    z-index: -1;
    position: absolute;
    top: 0;
}
.mobile-line {
    display: none;
}
.mobile-logo {
    display: none;
}
.header__bg-lins2 {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}
.qalab-320 {
    display: none;
}
.header__row {
    padding: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
}
.header__row-logo {
}
.header__row-list {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 60px;
    z-index: 100;
}
.header__list-item {
    font-size: 24px;
    line-height: 100%;
    padding: 0px 50px 0px 0px;
}

.header__list-item a:hover {
    border-bottom: 1px #cdde00 solid;
    color: #cdde00;
}

.header__list-item:last-child {
    padding: 0px 0px 0px 0px;
}

.header__main {
    z-index: 100;
    display: flex;
    justify-content: center;
    margin: 260px 0px 0px 0px;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.header__main._active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.header__main-row {
    display: flex;
}
.main-row-item-l {
    padding: 0px 0px 0px 285px;
}
.main-qalab {
    padding: 0px 0px 45px 50px;
}
.vk {
    margin: 0px 0px 0px -35px;
    opacity: 0;
}
.vk:hover {
    opacity: 1;
}

.yt {
    position: relative;
}
.youtube {
    position: relative;
    padding: 0px 0px 0px 0px;
    left: -55%;
    opacity: 0;
}
.youtube:hover {
    opacity: 1;
}

.qalab {
    font-family: Neue-Machina-bold;
    font-size: 104px;
}

.main-item-text {
    font-size: 48px;
    font-family: Neue-Machina-bold;
    color: white;
}
.main-row-item-r {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 150px;
}
.header-ico {
    padding: 0px 0px 10px 0px;
}
.header-ico:hover {
    fill: #cdde00;
}

.tic {
    margin: 0px 0px 0px -30px;
    opacity: 0;
}
.tic1 {
    margin: 0px 0px 0px -0px;
}
.tic:hover {
    opacity: 1;
}
.musk-t {
    position: absolute;
    bottom: -55%;
}
.musk {
    position: absolute;
    bottom: -12%;
    /* padding: 0px 0px 0px 0px; */
}

/* .header__burger {
    display: none;
    z-index: 1000;
} */

.menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    left: 90%;
    z-index: 2;
    overflow: hidden;
}
.menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: black;
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: 100;
}
.burger-item {
    flex-direction: row;
}
.burger-ico {
    padding: 0px 25px 0px 0px;
}
.menu.active {
    transform: translateX(0);
}
.menu li {
    list-style-type: none;
}
.menu-btn {
    z-index: 200;
}
.bur {
    padding: 0px 0px 20px 0px;
}
.burger-act {
    padding: 40px 1150px 0px 0px;
    text-align: right;
}
.menu__hover {
}

.menu-btn.active span:nth-of-type(1) {
    display: none;
}
.menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

.menu__hover:hover {
    color: #cdde00;
}
.mobile-bg {
    display: none;
}
.menu-btn {
    display: none;
}
@media (max-width: 375px) {
    html {
        overflow: scroll;
        overflow-x: hidden;
    }
    .menu-btn {
        display: block;
        margin: -40px 0px 0px 0px;
    }
    .main-row-item-r {
        display: none;
    }

    .mobile-line {
        display: block;
    }
    .mobile-logo {
        display: block;
    }
    .mobile-logo {
        position: relative;
        width: 25px;
        height: 40px;
        left: 0%;
        top: 0%;
    }
    .musk {
        bottom: -300%;
    }
    .header__row {
        display: none;
    }
    .header__bg {
        display: none;
    }
    .header__bg-lins1 {
        display: none;
    }
    .header__bg-lins2 {
        display: none;
    }
    .mobile-bg {
        display: block;
        width: 375px;
        height: 480px;
    }
    .header {
        background: url(img/mobile-bg.png) no-repeat center;
        background-size: cover;
    }
    .about-us {
        margin: 0px 0px 0px 0px;
    }
    .qalab-full {
        display: none;
    }
    .qalab-320 {
        display: block;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .main-qalab {
        padding: 0px 0px 0px 0px;
    }
    .main-item-text {
        font-size: 16px;
        margin: 0px 0px 0px 0px;
        padding: 15px 0px 0px 20px;
    }
    .mobile-line {
        margin: 0px 0px -115px 0px;
        /* background: url(img/mobeli-line1.png) top left;
        z-index: 1000; */
        /* background:url(img/mobeli-line1.png) top  no-repeat left; */
    }
    /* .main-row-item-l {
        background: url(img/mobile-line2.png);
        background-size: cover;
    } */
}
@media (max-width: 375px) {
    .main-row-item-l {
        padding: 0px 0px 150px 0px;
    }
}

@media (max-width: 320px) {
    .burger-act {
        padding: 40px 985px 0px 0px;
    }
    .main-row-item-r {
        padding: 0px 0px 0px 95px;
    }
    .main-row-item-l {
        padding: 0px 0px 150px 0px;
    }
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\about-us\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.about-us {
    margin: 320px 0px 0px 0px;
    background: url(img/about-us__bg.png);
    height: 960px;
}
.about-us__container {
    width: 1250px;
    margin: 0px auto 0;
    padding: 100px 0px 0px 0px;
}
.about-us__title {
    color: #cdde00;
    font-size: 64px;
    line-height: 100%;
    font-family: Neue-Machina-bold;
    padding: 0px 0px 45px 0px;

    transform: translate(0px, 50%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.musk {
    bottom: -12%;
    width: 100%;
}
.about-us__title._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
}

.about-us__text p {
    padding: 0px 0px 30px 0px;
}
.about-us__text {
    font-size: 32px;
    color: white;
    line-height: 100%;

    transform: translate(0px, 25%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.about-us__text._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.5s;
}

.motto__title {
    -webkit-text-stroke: 0.3px #fff;

    font-size: 8rem;
}

.motto__title:hover {
    color: white;
    text-shadow: 0 0 0 white;
}
.about-us__motto {
    padding: 90px 0px 0px 0px;
    display: flex;

    transform: translate(0px, 100%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.about-us__motto._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.5s;
}

.motto {
}
.motto__text {
    color: #cdde00;
    font-size: 40px;
    padding: 0px 0px 0px 20px;
}
@media (max-width: 375px) {
    .about-us {
        margin: 0px 0px 0px 0px;
    }
    .about-us__container {
        width: 100%;
    }
    .about-us__title {
        font-size: 24px;
        padding: 0px 0px 20px 10px;
    }
    .about-us__text {
        font-size: 16px;
        width: 300px;
        padding: 0px 0px 0px 10px;
    }
    .about-us__motto {
        flex-direction: column;
    }
    .motto__title {
        font-size: 4rem;
    }
    .motto__text {
        font-size: 16px;
        padding: 0px 0px 10px 115px;
    }
}

/* ===========================SINGERS======================================================= */
.singers {
    height: 960px;
    background: url(img/about-us__bg.png);
    padding: 200px 0px 0px 0px;
}
.singers__bg {
    background: url(img/singers-bg.png) no-repeat top;
}
.singers__conteiner {
    width: 1200px;
    margin: 0 auto;
}
.singers__conteiner-top {
    padding: 0px 0px 95px 0px;

    transform: translate(100%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.singers__conteiner-top._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.5s;
}

.singers__top-title {
    font-family: Neue-Machina-bold;
    color: #cdde00;
    font-size: 64px;
    line-height: 100%;
    padding: 0px 0px 20px 0px;
}
.singers__top-subtitle {
    font-size: 32px;
    color: white;
}
.singers__conteiner-row {
    display: flex;
    gap: 20px;

    transform: translate(100%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.singers__conteiner-row._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.5s;
}

.singers__row-item {
    position: relative;
}
.singers__name {
    font-size: 32px;
    color: #cdde00;
}
.singers-img {
}
.singers-img-line1 {
    position: absolute;
    top: 21%;
    right: 40%;
}
.singers-img-line2 {
    position: absolute;
    top: 10%;
    right: 21%;
}
.singers-img-line3 {
    position: absolute;
    top: 27%;
    right: 0%;
}

@media (max-width: 375px) {
    .singers {
        padding: 0px 0px 0px 0px;
    }
    .singers__top-title {
        font-size: 24px;
        padding: 0px 0px 0px 10px;
    }
    .singers__top-subtitle {
        font-size: 16px;
        padding: 0px 0px 0px 10px;
        color: white;
    }
    .singers__bg {
        position: relative;
        margin: 0px 0px 0px 0px;
    }
    .singers__conteiner {
        width: 100%;
    }
    .singers__conteiner-row {
        flex-direction: column;
        margin: 0px 0px 0px 0px;
    }
    .singers__row-item {
        padding: 50px 0px 0px 0px;
    }
    .singers-img-line1 {
        top: 30%;
        right: 40%;
    }
    .singers-img-line2 {
        top: 21%;
        right: 22%;
    }
    .singers-img-line3 {
        top: 36%;
        right: 2%;
    }
    .sing-1 {
        width: 90%;
    }
    .sing-2 {
        width: 80%;
    }
}

/* ///////////////////////////////////////AUDIO///////////////////////////////////////////////// */

.creation {
    background: url(img/about-us__bg.png);
    height: 960px;

    /* background: url(img/Vector\ 16.png) no-repeat left bottom; */
    /* background: url(img/cration-line.png) no-repeat right top; */
    z-index: -1;
}
.creation__line1 {
    background: url(img/Vector\ 16.png) no-repeat left bottom;
    z-index: -1;
}
.creation__line2 {
    background: url(img/cration-line.png) no-repeat right top;
    z-index: -1;
}
.creation__container {
    width: 1200px;
    margin: 0 auto;
    padding: 90px 0px 0px 0px;
    color: white;
}
.creation__container-top {
    padding: 0px 0px 60px 0px;
}
.creation__top-title {
    font-family: Neue-Machina-bold;
    font-size: 64px;
    color: #cdde00;
    padding: 0px 0px 20px 0px;
}
.creation__top-subtitle {
    font-size: 32px;
}
.creation__container-main {
    display: flex;
}
.music-flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.audio {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    width: 620px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 12px;
}
.music-title-link {
    font-size: 16px;
}
.youtube-row-link {
    padding: 0px 0px 0px 460px;
}
.audio-link {
    width: 215px;
}
.music-title {
    font-size: 24px;
}
.custom-audio {
}
.left {
}
.music-image {
    position: absolute;
    top: 354.4%;
    left: 19%;
}
.audio .left {
    height: 100%;
    display: flex;
    align-items: center;
}
.audio .image {
    height: 100%;
}
.audio img {
    height: 100%;
    margin-right: 16px;
}

.audio-btn {
    cursor: pointer;
}

.hide {
    display: none;
}

.youtube-row {
    padding: 0px 0px 0px 55px;
}
.youtube-v {
    border: 1px solid white;
    width: 450px;
    height: 250px;
}

@media (max-width: 375px) {
    .creation {
        margin: 44pc 0px 0px 0px;
    }
    .creation__container {
        width: 100%;
    }
    .creation__container-top {
        padding: 0px 0px 60px 10px;
    }
    .creation__top-title {
        font-size: 24px;
    }
    .creation__top-subtitle {
        font-size: 16px;
    }
    .creation__container-main {
        flex-direction: column;
    }
    .audio {
        width: 285px;
    }
    .music-title {
        font-size: 12px;
    }
    .youtube-row {
        padding: 0px 0px 0px 0px;
    }
    .youtube-v {
        width: 277px;
    }
    .mobi-1 {
        order: 2;
    }
    .youtube-row-link {
        padding: 0px 0px 0px 0px;
    }
    .music-title-link {
        font-size: 12px;
    }
}

/* ********************************QALABARATION******************************************* */
.qalabaration {
    height: 960px;
    background: url(img/about-us__bg.png) no-repeat;
}
.qalabaration__container {
    background: url(img/qalabaration-line.png) no-repeat left;
}
.qalabaration__flex {
    display: flex;
}
.qalabaration__info {
    width: 760px;
    padding: 50px 0px 100px 400px;

    transform: translate(0px, 0%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.qalabaration__info._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.5s;
}

.qalabaration__info-title {
    font-family: Neue-Machina-bold;
    color: #cdde00;
    font-size: 64px;
    padding: 0px 0px 45px 0px;
}
.qalabaration__info-title::after {
    content: "";
    background: url(img/QA.png) no-repeat right;
    padding: 15px 0px 0px 100px;
}
.qalabaration__info-text p {
    color: white;
    font-size: 32px;
    padding: 0px 0px 20px 0px;
}
.qalabaration__img {
}
.take-part {
    padding: 65px 0px 0px 0px;
    margin: -220px 0px 0px 0px;
}
.take-part__container {
    position: relative;
}
.circle {
    position: absolute;
    top: -235%;
    left: 26%;
    z-index: -1;
}
.take-part__btn1 {
    padding: 0px 0px 0px 550px;
    font-family: Neue-Machina-bold;
    font-size: 32px;
}
.hov:hover {
    color: #cdde00;
}
.circle1:hover {
    display: none;
}
.take-part__btn2 {
}
.take-part-hashtag {
    position: relative;
    width: 100%;
}
.hashtag1 {
    position: absolute;
    left: 17%;
    top: 0%;
    padding: 35px 0px 0px 0px;
}
.hashtag2 {
    position: absolute;
    left: 45%;
    top: 0%;
    margin: -100px 0px 0px 0px;
}
.hashtag3 {
    position: absolute;
    left: 50%;
    top: 0%;
    padding: 55px 0px 0px 0px;
}

@media (max-width: 375px) {
    .qalabaration__info {
        width: 100%;
        padding: 350px 0px 0px 10px;
    }
    .qalabaration__flex {
        margin: 0px 0px 100px 0px;
    }
    .qalabaration__info-title {
        font-size: 32px;
    }
    .qalabaration__img {
        position: relative;
        left: 0%;
    }
    .qalabaration__info-title::after {
        padding: 15px 0px 0px 0px;
    }
    .qalabaration__info-text p {
        font-size: 16px;
    }
    .take-part {
        padding: 0;
        margin: 0;
    }
    .take-part__btn1 {
        padding: 0px 0px 0px 125px;
    }
    .take-part__btn1 {
        position: relative;
        font-size: 16px;
    }
    .circle {
        width: 200px;
    }
    .hashtag1 {
        left: 0%;
        padding: 50px 0px 0px 0px;
    }
    .hashtag2 {
        left: 0%;
    }
    .hashtag3 {
        display: none;
    }
}

/* ===============================FOOTER================================================== */
.footer {
    color: white;
    background: url(img/about-us__bg.png);
}
.footer__line {
    height: 1200px;
    background: url(img/footer-line.png) bottom no-repeat;
}
.footer__container {
    padding: 0px 0px 0px 0px;
    width: 1200px;
    margin: 0 auto;
}
.footer__container-top {
    padding: 85px 0px 0px 0px;
}
.footer__title {
    font-family: Neue-Machina-bold;
    color: #cdde00;
    font-size: 64px;
    padding: 0px 0px 25px 0px;
}
.footer__subtitle {
    font-size: 32px;
    padding: 0px 0px 55px 0px;
}
.footer__main {
}
.footer__main-row {
    display: flex;
}
.footer__main-row-left {
    display: flex;
    flex-direction: column;
}
.footer__contacts {
}
.footer__contacts-item {
    padding: 0px 0px 50px 0px;
}
.footer__contacts-item a {
    text-decoration: underline;
}
.contacts__item-title {
    font-size: 24px;
}
.long {
    width: 345px;
}
.footer__social {
}
.social__title {
    font-size: 24px;
    padding: 0px 0px 0px 0px;
}
.footer__social-icons {
    display: flex;
}
.social {
    display: flex;
    padding: 20px 0px 50px 0px;
}
.social-icons {
    padding: 0px 10px 0px 0px;
}
.footer__main-row-right {
    padding: 0px 0px 0px 200px;
}
.footer__form {
}
.footer__form-title {
    font-size: 18px;
    padding: 0px 0px 15px 0px;
}
.footer__input-1 {
    display: flex;
    background: rgba(0, 0, 0, 0);
    width: 600px;
    height: 80px;
    border: white 1px solid;
    border-radius: 20px;
    padding: 0px 0px 0px 40px;
    color: white;
}
.footer__input-2 {
    background: rgba(0, 0, 0, 0);
    width: 600px;
    height: 310px;
    border: white 1px solid;
    border-radius: 20px;
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 40px;
    color: white;
}
.send {
    padding: 30px 0px 0px 0px;
}
.send-h {
    margin: -157px 0px 0px 0px;
    opacity: 0;
}
.send-h:hover {
    opacity: 1;
}

@media (max-width: 375px) {
    .footer {
        height: 127pc;
    }
    .footer__container {
        width: 100%;
    }
    .footer__container-top {
        padding: 200px 0px 0px 0px;
    }
    .footer__title {
        font-size: 24px;
    }
    .footer__subtitle {
        font-size: 16px;
    }
    .footer__main-row {
        flex-direction: column;
    }
    .footer__main-row-right {
        padding: 50px 0px 0px 0px;
    }
    .footer__input-1 {
        width: 255px;
    }
    .footer__input-2 {
        width: 255px;
    }
    .qalabaration__img {
        display: none;
    }
}
